{% extends "layout.html" %}

{% block content %}

        <article class="media content-section">
          <div class="media-body">
              <h2 class="arcticle-title">{{ client.name }}</h2>
              <div>
                <a href="{{ url_for('update_client', client_id=client.id) }}" class="btn btn-secondary btn-sm mb-1 mt-1">Atualizar</a>
                <a href="{{ url_for('register_booking') }}" class="btn btn-success btn-sm mb-1 mt-1">Criar Reserva</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal" >Descadastrar</button>
              </div>
              <p class="article-content">
                <strong>E-mail:</strong> {{ client.email }}
                <strong>RG:</strong> {{ client.rg }}
                <strong>CPF:</strong> {{ client.cpf }}
                <strong>Idade: </strong> {{ today.year - client.birthdate.year }}
                <strong>Data de Nascimento:</strong> {{ client.birthdate.strftime("%d/%m/%Y")  }}
                <strong>Telefone:</strong> {{ client.phone }}
                <strong>Sexo: </strong>{% if client.sex == 'M' %}Masculino{% elif client.sex == 'F' %}Feminino{% else %}Não Declarado{% endif %}
                <strong>Endereço: </strong>{{ client.address }}
              </p>
          </div>
        </article>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Certeza que deseja deletar o cliente? D:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <form action="{{ url_for('delete_client', client_id=client.id) }}" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}