{% extends "layout.html" %}

{% block content %}
    {% for employee in employees.items %}
      
        <article class="media content-section">
        <a href="{{ url_for('employee', employee_id=employee.id) }}" style="text-decoration: none; color: #333333">
          <div class="media-body">
              <h6 style="margin: 0">Funcionário: </h6>
              <p style="margin: 0 0 5px 0">{{ employee.name }}</p>
              <h6 style="margin: 0">Cargo: </h6>
              <p style="margin: 0 0 5px 0">{{ employee.role }}</p>
              <h6 style="margin: 0">Telefone:</h6>
              <p style="margin: 0 0 5px 0">{{ employee.phone }}</p>
              <h6 style="margin: 0">Endereço:</h6>
              <p style="margin: 0 0 5px 0">{{ employee.address }}</p>
          </div>
        </a>
        </article>
        {% endfor %}

        {% for page_num in employees.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if employees.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('employees', page=page_num) }}">{{ page_num }}</a>
              {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('employees', page=page_num) }}">{{ page_num }}</a>
              {% endif %}
            {% else %}
              <span class="btn btn-outline-info mb-4">...</span>
            {% endif %}
        {% endfor %}
{% endblock content %}