{% extends "layout.html" %}

{% block content %}
    {% for booking in bookings %}
      
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-1">Registrado por {{ booking.employee }}</a>
              <small class="text-muted"> em {{ booking.date_booking }}</small>
            </div>
              <h3>Dados da reserva #<a class="article-title" href="#">{{ booking.booking_id }}</a></h3>
              <h6 style="margin: 0">Cliente: </h6>
              <p style="margin: 0 0 5px 0">{{ booking.client }}</p>
              <h6 style="margin: 0">Quarto: </h6>
              <p style="margin: 0 0 5px 0">{{ booking.room[-3:] }}</p>
              <h6 style="margin: 0">Data de saída:</h6>
              <p style="margin: 0 0 5px 0">{{ booking.date_entrance }}</p>
              <h6 style="margin: 0">Data de entrada:</h6>
              <p style="margin: 0 0 5px 0">{{ booking.date_exit }}</p>
          </div>
        </article>

    {% endfor %}
{% endblock content %}