<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" >
    <script>

    </script>

    {% if titulo %}
        <title>Hotel Babilônia - {{ title }}</title>
    {% else %}
        <title>Hotel Babilônia</title>
    {% endif %}

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top rounded-bottom shadow">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Hotel Babilônia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              </div>
              <!-- Lado direito -->	
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <span class="nav-item nav-link" >Olá, <b>{{ current_user.employee.name.upper().split(' ')[0] }}</b></span>
                  <a class="nav-item nav-link border border rounded ml-2 px-2" href="{{ url_for('logout') }}"><strong>Logout</strong></a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ categoria }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock content %}
        </div>
        {% if current_user.is_authenticated %}
        <div class="col-md-4">
          <div class="content-section">
            <h3><strike style="font-size: 10px">Finge que é um</strike> Menu</h3>
            <p class='text-muted' style="font-size: 10px">AGORA ESSA BARRA FUNFAAAAAA
                {% if  current_user.is_authenticated and current_user.employee.role == 'Admin' %}
                <li class="list-group-item list-group-item-light">
                    <a style="text-decoration: none; color: #818182" href="{{ url_for('home') }}">
                      Listar Funcionários
                    </a>
                </li>
                {% endif %}
                <li class="list-group-item list-group-item-light">
                    <a style="text-decoration: none; color: #818182" href="{{ url_for('register_client') }}">
                      Registrar Novo Cliente
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a style="text-decoration: none; color: #818182" href="{{ url_for('search_client') }}">
                      Buscar Cliente
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a style="text-decoration: none; color: #818182" href="{{ url_for('list_clients') }}">
                      Listar Clientes
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a style="text-decoration: none; color: #818182" href="{{ url_for('register_booking') }}">
                      Reservar
                    </a>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>